<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
    
    include ./views/inc/_styles.pug
  body
    <h1>11</h1>

    
    
    include ./views/inc/_scripts.pug
    
    
